.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto; 
  font-family: 'Courier New', Courier, monospace; 
  text-align: center;
}

.matrixWrapp {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.controller {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(200, 200, 200)
}